<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="wiknap-github" value="https://nuget.pkg.github.com/wiknap/index.json" />
    </packageSources>
    
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="wiknap-github">
            <package pattern="Wiknap.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
