@page "/"
@using Wiknap.ApplePay.Model

<h1>Hello Apple Pay!</h1>

<ApplePayButton PaymentRequest="@paymentRequest" />

@code {

    private readonly PaymentRequest paymentRequest = new(
        new [] { MerchantCapability.supports3DS },
        new[] { "visa", "masterCard", "amex", "discover" },
        "US",
        "USD", 
        new LineItem("Label", 10),
        ShippingMethods: new []
        {
            new ShippingMethod("123", "123", "123", "123"),
            new ShippingMethod("1234", "1234", "1234", "1234")
        },
        RequiredBillingContactFields: new HashSet<ContactField> { ContactField.email, ContactField.name });

}